[submodule "riscv/riscv-tools"]
	path = riscv/riscv-tools
	url = https://github.com/chiache/riscv-tools
[submodule "riscv/riscv-poky"]
	path = riscv/riscv-poky
	url = https://github.com/chiache/riscv-poky
	branch = working
