[submodule "riscv/riscv-tools"]
	path = riscv/riscv-tools
	url = https://github.com/chiache/riscv-tools
[submodule "riscv/riscv-poky"]
	path = riscv/riscv-poky
	url = https://github.com/chiache/riscv-poky
	branch = working
[submodule "riscv/riscv-isa-sim"]
	path = riscv/riscv-isa-sim
	url = https://github.com/chiache/riscv-isa-sim.git
	branch = cache_trace
[submodule "riscv/riscv-glibc"]
	path = riscv/riscv-glibc
	url = https://github.com/chiache/riscv-glibc.git
	branch = riscv-glibc-2.26
[submodule "riscv/riscv-linux"]
	path = riscv/riscv-linux
	url = https://github.com/chiache/riscv-linux.git
	branch = firesim
