[submodule "riscv/riscv-tools"]
	path = riscv/riscv-tools
	url = https://github.com/riscv/riscv-tools
[submodule "riscv/riscv-poky"]
	path = riscv/riscv-poky
	url = https://github.com/riscv/riscv-poky
	branch = priv-1.10
